/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

/* Variables for the website */
:root{
    --primary: #0e1040;
    --primary-tint: #4ec5e0;
    --primary-shade: #07082e;

    --light: #ffffff;
    --dark: #363029;

    --muted:#dadada;
    --muted-tint:#f4f2f2;
    --muted-shade:#bababa;


    --font-normal:"Roboto Condensed", Arial, sans-serif;

    --spacing-0:0; /* 0px */
    --spacing-1:0.5rem; /* 8px */
    --spacing-2:1rem; /* 16px */
    --spacing-3:2rem; /* 32px */

    --shadow-dark: 0 0.1rem 0.2rem 0.1rem rgb(54, 48, 41, 0.2);
    --shadow-light: 0 0.1rem 0.2rem 0.1rem rgb(255, 255, 255, 0.5);
}

/* CSS Reset */
*{
    box-sizing: border-box; /* Will force elements to scale from the border instead */
    margin: 0;
    padding: 0;
}

body {
    font-family:var(--font-normal);
    line-height: 1.5;
}

a {
    color: var(--light);
    text-decoration: none;
}

header {
    background-color: var(--primary);
}

.search-icon {
    height: 48px;
}

nav {
    justify-content: center; 
}

.flex{display: flex;}
.flex-between{justify-content: space-between;}
.flexcol{flex-direction: column;}
.flex-expand{flex: 1;}

.container {
    max-width: 1280px;
    margin: auto;
}

/***************************** IMAGES *****************************/
.logo {
    display: block;
    text-align: center;
}
.logo img {
    height: 12rem;
    margin-top: 1rem;
}

.search img {
    height: 1.5rem;
}

/***************************** BUTTONS *****************************/
.btn {
    border: none;
    padding: var(--spacing-1) var(--spacing-2);
    cursor: pointer;
    font-size: 1.5rem;
    flex: 1;
}

.btn-primary{
    background-color: var(--primary);
    color: var(--light);

}

.btn-primary:hover{
    background-color: var(--primary-tint);
}