/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

/* Variables for the website */
:root{
    --primary: #0e1040;
    --primary-tint: #4ec5e0;
    --primary-shade: #07082e;

    --light: #ffffff;
    --dark: #363029;

    --muted:#dadada;
    --muted-tint:#f4f2f2;
    --muted-shade:#bababa;


    --font-normal:"Roboto Condensed", Arial, sans-serif;

    --space-0:0; /* 0px */
    --space-1:0.5rem; /* 8px */
    --space-2:1rem; /* 16px */
    --space-3:2rem; /* 32px */

    --shadow-dark: 0 0.1rem 0.2rem 0.1rem rgb(54, 48, 41, 0.2);
    --shadow-light: 0 0.1rem 0.2rem 0.1rem rgb(255, 255, 255, 0.5);
}

/* CSS Reset */
*{
    box-sizing: border-box; /* Will force elements to scale from the border instead */
    margin: 0;
    padding: 0;
}

body {
    font-family:var(--font-normal);
    line-height: 1.5;
    background-color: var(--light);
}

header a{
    color: var(--light);
    text-decoration: none;
}

header {
    background-color: var(--primary);
}

.search-icon {
    height: 48px;
}

nav {
    justify-content: center; 
}

.flex{display: flex;}


.container {
    max-width: 1280px;
    margin: auto;
    text-align: center;
    padding-top: var(--space-2);

}

/***************************** SPACING *****************************/
.m-0{ margin:var(--space-0); }
.m-1{ margin:var(--space-1); }
.m-2{ margin:var(--space-2); }
.m-3{ margin:var(--space-3); }

.p-0{ padding:var(--space-0); }
.p-1{ padding:var(--space-1); }
.p-2{ padding:var(--space-2); }
.p-3{ padding:var(--space-3); }

.gap-0{ gap:var(--space-0); }
.gap-1{ gap:var(--space-1); }
.gap-2{ gap:var(--space-2); }
.gap-3{ gap:var(--space-3); }

/***************************** IMAGES INDEX*****************************/
.logo {
    display: block;
    text-align: center;
}
.logo img {
    height: 10rem;
    margin-top: 1rem;
}

.search img {
    height: 1.5rem;
}

/***************************** BUTTONS *****************************/
.btn {
    border: none;
    padding: var(--space-1) var(--space-2);
    margin: var(--space-1);
    cursor: pointer;
    font-size: 1.5rem;
    flex: 1;
}

.btn-primary{
    background-color: var(--primary);
    color: var(--light);

}

.btn-primary:hover{
    background-color: var(--primary-tint);
}

/***************************** BANNER CAROUSEL *****************************/

.carousel{
    position: relative;
}

.carousel img{
    height: 30em;
    }

.carousel-item{
    display: none;
}
.carousel-item-selected{
    display: block;
}

.carousel-nav{
    width: 100%;
    padding: var(--space-2) 0;
    position: absolute;
    bottom: var(--space-0);
    left: var(--space-0);
    text-align: center;
}

.carousel-button{
    width: var(--space-2);
    height: var(--space-2);
    display: inline-block;
    background-color: var(--muted-shade);
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.carousel-button-selected{
    background-color: var(--muted);
}

/***************************** NEWS SECTION OF HOME PAGE *****************************/

.news-section{
    width: 100%;
    margin-top: var(--space-3);
}

.cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: var(--space-3);
    margin: 25px auto;
}

.card a {
    color: var(--primary);
}

.cards .card{
    width: 100%;
    position: relative;
}

.image-news-section img{
    width: 300px;
    height: 300px;
}