/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

/* Variables for the website */
:root{
    --primary: #0e1040;
    --primary-tint: #4ec5e0;
    --primary-shade: #07082e;

    --light: #ffffff;
    --dark: #363029;

    --muted:#dadada;
    --muted-tint:#f4f2f2;
    --muted-shade:#bababa;


    --font-normal:"Roboto Condensed", Arial, sans-serif;

    --space-0:0; /* 0px */
    --space-1:0.5rem; /* 8px */
    --space-2:1rem; /* 16px */
    --space-3:2rem; /* 32px */

    --shadow-dark: 0 0.1rem 0.2rem 0.1rem rgb(54, 48, 41, 0.2);
    --shadow-light: 0 0.1rem 0.2rem 0.1rem rgb(255, 255, 255, 0.5);
}

/* CSS Reset */
*{
    box-sizing: border-box; /* Will force elements to scale from the border instead */
    margin: 0;
    padding: 0;
}

body {
    font-family:var(--font-normal);
    line-height: 1.5;
}

a {
    color: var(--light);
    text-decoration: none;
}

header {
    background-color: var(--primary);
}

.search-icon {
    height: 48px;
}

nav {
    justify-content: center; 
}

.flex{display: flex;}


.container {
    max-width: 1280px;
    margin: auto;

}

/***************************** IMAGES *****************************/
.logo {
    display: block;
    text-align: center;
}
.logo img {
    height: 10rem;
    margin-top: 1rem;
}

.search img {
    height: 1.5rem;
}

/***************************** BUTTONS *****************************/
.btn {
    border: none;
    padding: var(--space-1) var(--spacing-2);
    margin: var(--space-1);
    cursor: pointer;
    font-size: 1.5rem;
    flex: 1;
}

.btn-primary{
    background-color: var(--primary);
    color: var(--light);

}

.btn-primary:hover{
    background-color: var(--primary-tint);
}

/***************************** BANNER CAROUSEL *****************************/

.carousel{
    position: relative;
}

.carousel img{
    height: 41em;
    }

.carousel-item{
    display: none;
}
.carousel-item-selected{
    display: block;
}

.carousel-nav{
    width: 100%;
    padding: var(--space-2) 0;
    position: absolute;
    bottom: var(--space-0);
    left: var(--space-0);
    text-align: center;
}

.carousel-button{
    width: var(--space-2);
    height: var(--space-2);
    display: inline-block;
    background-color: var(--muted-shade);
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.carousel-button-selected{
    background-color: var(--muted);
}